ale-py==0.7.4
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
cycler==0.11.0
docker-pycreds==0.4.0
einops==0.4.1
fonttools==4.30.0
gitdb==4.0.9
GitPython==3.1.27
gym==0.23.0
gym-notices==0.0.5
idna==3.3
importlib-metadata==4.11.2
importlib-resources==5.4.0
kiwisolver==1.3.2
kornia==0.6.3
matplotlib==3.5.1
numpy==1.22.3
opencv-python==3.4.17.63
packaging==21.3
pandas==1.4.1
pathtools==0.1.2
PettingZoo==1.16.0
Pillow==9.0.1
promise==2.3
protobuf==3.19.4
psutil==5.9.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
sentry-sdk==1.5.7
setproctitle==1.2.2
shortuuid==1.0.8
six==1.16.0
smmap==5.0.0
stable-baselines3==1.2.0
SuperSuit==3.3.4
termcolor==1.1.0
torch==1.10.2
tqdm==4.63.0
typing_extensions==4.1.1
unsupervised-on-policy==0.1.2
urllib3==1.26.8
wandb==0.12.11
yaspin==2.1.0
zipp==3.7.0
